/inspector/node_modules/
/inspector/inspector.js
/inspector/.npmrc

/client/node_modules/
/client/client.js
/client/client.es5.js
/client/.npmrc

/server/node_modules/
/server/RxPaired-server.bundle.mjs
/server/server-logs.txt
/server/logs-*.txt
/server/build
/server/.persistent-tokens.json
